.home-background{
    background-color: honeydew;
}
#home-image {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    margin-bottom: 30px;
    width: 60%;
    height: auto;
}

h1 {
    text-align: center;
}

.container {
    text-align: center;
}
.contents.list{
    background-color: cornflowerblue;
    display: inline-flex;
    border: 3px dashed black;
    padding-right: 10px;
}
.recipe {
    color: black;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 20px;
}